notifications:
  email: false

matrix:
  include:
    - sudo: required
      language: generic
      services:
        - docker
      env: DOCKER_IMAGE=quay.io/pypa/manylinux1_x86_64
    - sudo: required
      language: generic
      services:
        - docker
      env: DOCKER_IMAGE=quay.io/pypa/manylinux1_i686
           PRE_CMD=linux32
    - os: osx
      language: generic

install:
  - docker pull $DOCKER_IMAGE

script:
  - travis/build-wheels-${TRAVIS_OS_NAME}.sh
  - ls wheelhouse

deploy:
  provider: s3
  bucket: datawire-static-files
  skip_cleanup: true
  local_dir: wheelhouse
  upload-dir: wheelhouse
  access_key_id:
    secure: E1OggzgbKNg5o9Mz/cJMzSV6XYlPVd1dbft/SMbr2qtwGd7UgJLrqyzaCgkTNg27FNfFM+ZuxXhX+ghwtvtX3fPDZ8gs3Gn6S4BmyX0Ko7Ai729x0WDGDnwUDH0DQrmhMPDNtAbxs2cNnvtcSSV+cTD7Ietoa8ge0261qEz3hLqiKjiyw7yzezrtIljWSMZuHMS2mUJoOIY/BVuwqnsNc7k5dG/eLGBqt+Z3rLGiVX1tIO3AhP7qCWDHZENakthnElpFbZwiojb+lbZR4UEPrq8NtPHTD0DlWjFM2KhDgt20g6tCHrvG3zqQur086+Hb4b0CC+zs/VSnVax39A5bmYJwH0RztqG0+ysIHv+HkHDWU0uYTjD2XhVEw2pFHIJrcL1mexbVyHwGsF5H/LobCwIgqxz3KRkLBbLYViwrccFI4wVzaPSuV2lLMRguAGA6Q8Liywz2b1ZaOPuFgrDvajV7ujBAFzjfwu17+8F7jFHGFygE33AsfVS4Dtw2HGp6+B9C5akQuyH24+sjtThmBdMGg8TOqLnxJL82sqof6i+l0hzBIPJCBKPJeuVviEcYrcqvMGGbqh601EnsuEU/8p/nwmFznFD0rY3lchjHWK22NBAy5IuqnUxOONy43r1uNTuioJm4SrebNSb7dW7tyrD8a0n7fknXxvl6M6bNf9I=
  secret_access_key:
    secure: NmDfxpLSq/yVJwFGNO0ejGM5QiX8WahqIxn7FMPnb/qm4ygXy6u9rS2sHbUj25mi3YFxurzK3g5uH443YQnfYLo/GardlDEZmmIjQE62Uv3YOOGUQYZnF1ogHNjfo1wDGIJdoRy3AE5HwGFkPW74CjlZcPIxnQZ0qVKQ6piZq+I3ySy8peEvmDyy+9HYmGdXPELc+B8vI7JHM6l1gntS6bD5e7sCGPobIewwqxq7oASKtM4IRz0vfSxHrJfUMEwDK84PpnN4J8q2lfACM0wY1It2BvBtNou+HIWsMOT0/DXicwAMeOZABhQwXoGGbpQtWo5cHnZN3V7BFaEtbtzrr6+0hBBUbNFLumkfc08z0nGIvv22jt9twAZf1LqOeiDQ0uXbxDs9WxF2fNaaPMhbMPWcEQ+lixlJHHLBycRhY0qJrGNkK3NlUr8rABqYD7TrmOgA+emvhUgH2C96YsxdDDWc8+VAeETL/+S200/5lyQBgH45n39GM2HJGgyvQYMcQBbe4YuGz1W0Hib1gIRHKSroBpHz52dbJRCwlQVwC5Xj3KPYzjPFRw/pXwVxch3AVDQa5ETwEfbSAt9cbvyWq2/MqWWziPgX8oIIOsmdB3Com1S4LGTZTZFpW07WB4l3NHXcx3zyC+EJoN0YRuP6cdfp0cu1f+wMBWyaGH43kcQ=
